<div class="addPost" id="addPostStatus" style="display:none;">
	<div class="destroy"></div>
	<span class="header">Fly Your Dream</span>
	<div class="addPost_sky_lantern"></div>
	<%= form_tag({:controller => "home", :action => "create"}, :method => "post", :class => "add") do %>
	
	<div class="addPost_title_control">
		<!--<div class="one_man"></div>-->
		<% #text_field(:msg, :title, :placeholder => 'title') %>
	</div>

  	<%= text_area(:msg, :content, :size => "40x12", :placeholder => '你想做什麼?') %>
<!--
  	<div class="photoUpload">
		<img id="addPostPreviewIMG" width="130px" height="130px" style="display:none;"/>
		<embed id="addPostPreviewVIDEO" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always"  width="200px" height="130px" style="display:none;" />
		<%= text_field(:msg, :link, :id => 'addPostPhotoURL', :placeholder => 'Enter a photo link or a youtube link here') %>
		<h1 class="preview">preview</h1>
	</div>
-->
	<div  class="pushToFB">
		<%=check_box_tag 'pushToFB',1,true%><label>  Post to Fackbook</label>
	</div>
  	<div class="timeset">
  	<%= text_field :msg, :beforeDate, :id => 'datepicker' ,:placeholder => '請輸入實現時間' %>
  	<%= text_field :msg, :afterTime, :id => 'afterpicker' ,:placeholder => '請輸入實現時間' %>
  	<%= select(:msg, :afterTimeUnit, options_for_select([['分鐘', 'minutes'], ['小時', 'hours'], ['天', 'days'], ['禮拜', 'weeks'], ['月', 'months'], ['年', 'years']])) %>
  	<%= select(:msg, :timeSetSelect, options_for_select([['之前', 'before'], ['之後', 'after']]) ) %>
    </div>

    <div class="checkInput"></div>
  	<%= submit_tag("Fly", :class => "flybuttom", :disabled => "disabled") %>
  
	<% end %>
</div>